.drawer-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidenav {
  padding: 20px;
  width: 100%;
}

.main-content {
  padding: 20px 40px;
}

app-sidenav {
  overflow: hidden;
}

@media (width > 768px) {
  .sidenav {
    width: 250px;
  }
}
