@use "../../../../shared/styles/colors.scss" as *;

.container-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  color: $baby-powder;

  > * {
    margin-bottom: 16px;
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }
  }
}

.highlight {
  color: #7171f3 !important;
  display: inline;
}

.back {
  color: $baby-powder;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
}

.lyrics {
  margin-top: 16px;
}

app-song-card {
  width: 100%;

  @media (width > 768px) {
    width: 200px;
  }
}
